<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">xalapa</a></li>
    <li><a href="#!">veracruz</a></li>
    <li class="divider"></li>
    <li><a href="#!">coatepec</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">xalapa</a></li>
    <li><a href="#!">veracruz</a></li>
    <li class="divider"></li>
    <li><a href="#!">coatepec</a></li>
  </ul>
  <nav class="red darken-4" >
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img src="./assets/imagenes/logo_1.png" width="140px" class="responsive-img"></a>
      <!-- vista Desktop -->
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Inicio</a></li>
        <li><a href="badges.html">Cartelera</a></li>
        <li><a href="badges.html">Promociones</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Ciudades<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <!-- vista MObile -->
  <ul class="sidenav red darken-4" id="mobile-demo">
    <li><a class="white-text" href="sass.html">Inicio</a></li>
    <li><a class="white-text" href="badges.html">Cartelera</a></li>
    <li><a class="white-text" href="badges.html">Promociones</a></li>
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-trigger white-text" href="#!" data-target="dropdown2">Ciudades<i class="material-icons right white-text">arrow_drop_down</i></a></li>
  </ul>

  
<!-- PRUEBA DE FUNCIONAMIENTO DIFERENTE PROYECTO -->
  <!-- <span class="setup">Number</span>
<h1 class="punchline">{{ data }}</h1>
<button type="button" class="btn btn-success" (click)="addNumber()">Add
</button>
<button type="button" class="btn btn-danger" (click)="deleteNumber()">Remove
</button> -->