.social{
    height: 40px;
    line-height: 37px;
}

.social i{
    height: 40px !important;
    line-height: 37px !important;
}

.brand-logo{
    padding: 2px !important;
}
.dropdown-content li>a,
.dropdown-content li>span{
    color: white;
    background-color: #b71c1c;
}
.margin{
  margin-left: 0 !important;
}
.container{
    width: 85%;
}
.row{
    margin-bottom: 0;
}
.card-content{
    padding: 0;
}
.card-content a{
    padding-left: 2px;
}

.card-content .fa-heart{
    color: rgb(255, 71, 4);
}
.card-content .fa-youtube{
    color: red;
}
.card-content .fa-bookmark{
    color:orange;
}
.card-content .fa-share-alt{
    color: green;
}
.carousel{
  perspective: 900px !important;
  height: 250px !important;
}
